<nav class="bottom-nav">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
        <span class="material-icons">home</span>
        <span class="nav-label">Home</span>
    </NavLink>
    <NavLink class="nav-item" href="leaderboard">
        <span class="material-icons">emoji_events</span>
        <span class="nav-label">Leaderboard</span>
    </NavLink>
    <NavLink class="nav-item" href="multiplayer">
        <span class="material-icons">people</span>
        <span class="nav-label">Multiplayer</span>
    </NavLink>
</nav>
