@using Radzen
@using Radzen.Blazor
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <div class="rz-display-flex rz-flex-column rz-align-items-center rz-justify-content-center" style="height: 80vh;">
                <RadzenText TextStyle="TextStyle.H3" class="rz-mb-4">Page Not Found</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" class="rz-mb-4">Sorry, there's nothing at this address.</RadzenText>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Path="/" Text="Return Home" />
            </div>
        </LayoutView>
    </NotFound>
</Router>
