@using Microsoft.AspNetCore.Components.Routing
@using Radzen.Blazor
@inject NavigationManager Navigation

<div class="bottom-nav">
    <NavLink href="/" class="bottom-nav-item" Match="NavLinkMatch.All">
        <div class="nav-icon-wrapper">
            <span class="material-icons">home</span>
            <span class="nav-label">Home</span>
        </div>
    </NavLink>
    
    <NavLink href="/leaderboard" class="bottom-nav-item">
        <div class="nav-icon-wrapper">
            <span class="material-icons">leaderboard</span>
            <span class="nav-label">Stats</span>
        </div>
    </NavLink>
</div>

@code {
    // Bottom navigation automatically highlights active route via NavLink
}
