@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env

@if (Env.IsDevelopment())
{
    <NavLink class="top-nav-item" href="diag">
        <span class="material-icons">settings</span>
    </NavLink>
}
