@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1">
        <MudLink Href="/" Underline="Underline.None">
            <MudText Typo="Typo.h5" Class="ml-3">PoFunQuiz</MudText>
        </MudLink>
        <MudSpacer />
    </MudAppBar>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4 pt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
